<div>
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="mb-0">Details:</h3>
    <div class="d-flex flex-wrap gap-2 justify-content-end">
      <button type="button" (click)="onSave()" class="btn btn-success">
        Save
      </button>
      <button routerLink="" class="btn btn-danger">Cancel</button>
    </div>
  </div>
  <hr />

  @if (formData) {
    <form class="py-2" action="">
      <div class="mb-3">
        <label class="fw-semibold" for="scientificNameInput"
          >Scientific Name</label
        >
        <input
          type="text"
          name="scientificNameInput"
          class="form-control"
          [(ngModel)]="formData.scientificName"
        />
      </div>
      <div class="mb-3">
        <label class="fw-semibold" for="commonNameInput">Common Name</label>
        <input
          type="text"
          name="commonNameInput"
          class="form-control"
          [(ngModel)]="formData.commonName"
        />
      </div>
      <div class="mb-3">
        <label class="fw-semibold" for="descriptionInput">Description</label>
        <textarea
          type="text"
          name="descriptionInput"
          class="form-control"
          rows="4"
          [(ngModel)]="formData.description"
        ></textarea>
      </div>
      <div class="mb-3">
        <label class="fw-semibold" for="distributionNotesInput"
          >Distribution notes</label
        >
        <textarea
          type="text"
          name="distributionNotesInput"
          class="form-control"
          rows="4"
          [(ngModel)]="formData.distributionNotes"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="familyInput" class="fw-semibold">Family</label>
        <input
          name="familyInput"
          id="familyInput"
          class="form-control"
          [(ngModel)]="formData.family"
        />
      </div>
      <div class="mb-3">
        <label class="fw-semibold" for="genusInput">Genus</label>
        <input
          name="genusInput"
          id="genusInput"
          class="form-control"
          [(ngModel)]="formData.genus"
        />
      </div>
      <div class="mb-3">
        <label class="fw-semibold" for="statusSelector">Status</label>
        <select
          name="statusSelector"
          id="statusSelector"
          class="form-select"
          [(ngModel)]="formData.status"
        >
          <option *ngFor="let status of statusList" [value]="status">
            {{ status }}
          </option>
        </select>
      </div>
      <hr />
      <div class="mb-3" id="imageEdit">
        <label class="fw-semibold" for="urlInput">Image URL</label>
        <input
          class="form-control"
          name="urlInput"
          type="text"
          [(ngModel)]="formData.imageUrl"
        />
        <div class="d-flex justify-content-center mt-2 pt-2">
          <img
            class="img-fluid speciesImage"
            [src]="
              formData.imageUrl ||
              'https://dummyimage.com/180x180/cccccc/ffffff&text=No+Image'
            "
            alt=""
          />
        </div>
      </div>
    </form>
  } @else {
    <p class="text-muted">Loading species data...</p>
  }
</div>
