<div class="row g-2">
  <div class="col-12 col-sm-5">
    <input
      type="number"
      class="form-control"
      placeholder="Latitude"
      [(ngModel)]="latitude"
      step="0.001"
    />
  </div>
  <div class="col-12 col-sm-5">
    <input
      type="number"
      class="form-control"
      placeholder="Longitude"
      [(ngModel)]="longitude"
      step="0.001"
    />
  </div>
  <div class="col-12 col-sm-2">
    <button
      class="btn btn-success w-100"
      (click)="onAdd()"
      [disabled]="!latitude || !longitude"
    >
      Add
    </button>
  </div>
</div>
