<section class="container my-4">
  <div class="row g-3 px-3 bg-white">
    <div class="col-12 col-md-8 col-lg-9 py-2">
      <h2 class="sectionTitle">Edit Species</h2>
    </div>
    <!-- first column -->
    @if (specie) {
      <div id="detail" class="col-12 col-lg-6 mx-1">
        <app-detail-form
          [specie]="specie"
          (updateSpecies)="handleUpdateSpecies($event)"
        ></app-detail-form>
      </div>
      <!-- Second column -->
      <div class="col-12 col-lg-5 mx-3">
        <h3>Coordinates:</h3>
        <hr />
        <div id="coodinateEdit">
          <div class="my-3">
            <app-coordinates-list
              [coordinates]="specie.coordinates || []"
              (deleteCoordinate)="handleDeleteCoordinate($event)"
            ></app-coordinates-list>
          </div>
          <hr />
          <div class="my-3">
            <app-coordinate-form
              (addCoordinate)="handleAddCoordinate($event)"
            ></app-coordinate-form>
          </div>
          <hr />
          <div class="my-3">
            <app-coordinate-map></app-coordinate-map>
          </div>
        </div>
      </div>
    }
  </div>
</section>
