<section class="container my-4 flex-column">
  <div class="row g-3 px-3 bg-white">
    @if (specie) {
      <form class="d-flex flex-column flex-lg-row py-2" action="">
        <div id="detail" class="col-12 col-lg-6 mx-1">
          <div>
            <p class="my-2">Scientific Name</p>
            <input
              type="text"
              name="scientifName"
              class="form-control"
              value="{{ specie.scientificName }}"
            />
            <p class="my-2">Common Name</p>
            <input
              type="text"
              name="scientifName"
              class="form-control"
              value="{{ specie.commonName }}"
            />
            <p class="my-2">Family</p>
            <select
              name="familySelector"
              id="familySelector"
              class="form-select my-2"
              [(ngModel)]="specie.family"
            >
              <option *ngFor="let family of families" [value]="family">
                {{ family }}
              </option>
            </select>
            <p class="my-2">Genus</p>
            <select
              name="genusSelector"
              id="genusSelector"
              class="form-select my-2"
              [(ngModel)]="specie.genus"
            >
              <option *ngFor="let genus of genusList" [value]="genus">
                {{ genus }}
              </option>
            </select>
          </div>
          <hr />
          <div id="imageEdit">
            <p>Image URL</p>
            <input
              class="form-control"
              type="text"
              value="https://dummyimage.com/180x180/cccccc/ffffff&text=Doctorfish"
            />
            <img
              class="img-fluid m-3"
              src="https://dummyimage.com/180x180/cccccc/ffffff&text=Doctorfish"
              alt=""
            />
          </div>
        </div>
        <div class="col-12 col-lg-5 mx-3">
          <div id="coodinateEdit">
            <div>
              <p>Locations (list of coordinates)</p>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <th>#</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Actions</th>
                  </thead>
                  <tbody>
                    @for (coordinate of specie.coordinates; track coordinate.id) {
                    <tr>
                      <td>{{ coordinate.id }}</td>
                      <td>{{ coordinate.latitude}}°</td>
                      <td>{{ coordinate.longitude }}°</td>
                      <td>
                        <button class="btn-delete mx-1" aria-label="Delete">
                          🗑️
                        </button>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
            <hr />
            <div class="my-3">
              <p>Add a new coordinate:</p>
              <div class="d-flex flex-column flex-sm-row gap-2">
                <input
                  class="form-control flex-grow-1"
                  type="text"
                  name="latitude"
                  id="coordinateLatitude"
                  placeholder="latitude"
                />
                <input
                  class="form-control flex-grow-1"
                  type="text"
                  name="longitude"
                  id="coordinateLongitude"
                  placeholder="longitude"
                />
                <button class="btn btn-success flex-grow-1 flex-sm-grow-0">
                  Add coordinate
                </button>
              </div>
            </div>
            <hr />
            <div class="my-3">
              <p>📍 Map Coordinates</p>
              <div class="ratio ratio-4x3">
                <iframe
                  src="https://www.openstreetmap.org/export/embed.html?bbox=-70.0%2C18.0%2C-65.0%2C22.0&layer=mapnik&marker=18.2208°%2C-66.5901"
                  style="border: 1px solid #ddd; border-radius: 8px; width: 100%; height: 100%;"
                  allowfullscreen
                  loading="lazy"
                ></iframe>
              </div>
            </div>
          </div>
          <div class="d-flex flex-wrap gap-2 justify-content-end">
            <button class="btn btn-success">Save</button>
            <a routerLink="/species" class="btn btn-danger">Cancel</a>
          </div>
        </div>
      </form>
    }
  </div>
</section>