<section container my-4>
  <div id="searchBar" class="row g-3 align-items-start">
    <div class="col-12 col-md-8 col-lg-9">
      <form action="" class="d-flex flex-column flex-sm-row gap-2">
        <input
          type="text"
          name="textSearch"
          placeholder="type your search here"
          class="form-control flex-grow-2 w-50"
        />
        <select
          name="familySelector"
          id="familySelector"
          class="form-select flex-grow-1 w-25"
        >
          <option value="" selected disabled>Family</option>
          <option value="Acanthuridae">Acanthuridae</option>
          <option value="Pomacanthidae">Pomacanthidae</option>
          <option value="Scaridae">Scaridae</option>
          <option value="Serranidae">Serranidae</option>
        </select>

        <select
          name="statusSelector"
          id="statusSelector"
          class="form-select flex-grow-1 w-25"
        >
          <option value="" selected disabled>Status</option>
          <option value="CREATED">Created</option>
          <option value="DRAFT">Draft</option>
          <option value="PUBLISHED">Published</option>
        </select>
      </form>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
      <div
        class="d-flex flex-wrap gap-2 justify-content-start justify-content-md-end"
      >
        <button class="btn btn-primary flex-grow-1 flex-md-grow-0">
          Apply
        </button>
        <button class="btn btn-danger flex-grow-1 flex-md-grow-0">Clear</button>
        <button class="btn btn-success flex-grow-1 flex-md-grow-0">
          + Add New
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="table-responsive rounded-4 bg-light-subtle p-2">
        <table
          class="table table-light table-striped table-hover text-center mb-0"
        >
          <thead>
            <tr>
              <th scope="col">Scientific Name</th>
              <th scope="col">Family</th>
              <th scope="col">Locations</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="fw-normal">Acanthurus chirurgus</th>
              <td>Acanthuridae</td>
              <td>
                <span class="badge-locations">📍 5</span>
              </td>
              <td>
                <span class="badge-status published">PUBLISHED</span>
              </td>
              <td>
                <button class="btn-edit mx-1" aria-label="Edit"><a routerLink="edit">✏️</a></button>
                <button class="btn-delete mx-1" aria-label="Delete">🗑️</button>
              </td>
            </tr>
            <tr>
              <th class="fw-normal">Holacanthus ciliaris</th>
              <td>Pomacanthidae</td>
              <td>
                <span class="badge-locations">📍 3</span>
              </td>
              <td>
                <span class="badge-status draft">DRAFT</span>
              </td>
              <td>
                <button class="btn-edit mx-1" aria-label="Edit"><a routerLink="edit">✏️</a></button>
                <button class="btn-delete mx-1" aria-label="Delete">🗑️</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <p class="text-center text-muted mb-0">Page 1 of 50 &lt; [1] [2] &gt;</p>
    </div>
  </div>
</section>
